/*----- Общие стили -----*/

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1200px;

  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
}

.btn-red {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

  background-color: #fb565a;
  color: #ffffff;
}
.btn-red:hover,
.btn-red:focus {
  background-color: #e74246;
}
.btn-red:active {
  background-color: #d7373b;

  color: rgba(255, 255, 255, 0.3);
}

.btn-green {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

  background-color: #00ca74;
  color: #ffffff;
}
.btn-green:hover,
.btn-green:focus {
  background-color: #00bc6c;
}
.btn-green:active {
  background-color: #00aa62;

  color: rgba(255, 255, 255, 0.3);
}

.btn-yellow {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

  background-color: #efc84a;
  color: #ffffff;
}
.btn-yellow:hover,
.btn-yellow:focus {
  background-color: #eab534;
}
.btn-yellow:active {
  background-color: #e5a722;

  color: rgba(255, 255, 255, 0.3);
}

.btn {
  border: none;
}

.btn-xs {
}

.btn-md {
  display: flex;
  max-width: 160px;
  width: 100%;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.btn-lg {
  display: flex;
  max-width: 260px;
  width: 100%;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.btn-grey {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

  background-color: #eeeeee;
  color: #000000;
}
.btn-grey:hover,
.btn-grey:focus {
  background-color: #dfdfdf;
}
.btn-grey:active {
  background-color: #d5d5d5;

  color: rgba(0, 0, 0, 0.3);
}

/*----- Header -----*/

.main-header {
  display: flex;
  flex-direction: column;

  padding-top: 29px;

  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-header-logo:hover img,
.main-header-logo:focus img {
  opacity: 0.8;
}

.main-header-logo:active img {
  opacity: 0.3;
}

/*----- Навигация -----*/
.navigation-wrapper {
  display: flex;
  flex-direction: row;
}
.main-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  margin-left: 200px;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;

  color: #000000;
}

.site-navigation,
.user-navigation {
  list-style: none;

  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  min-width: 440px;
  justify-content: space-between;
}

.site-navigation a,
.user-navigation a {
  display: block;
  position: relative;

  padding-top: 26px;

  color: #000000;
}

.effect::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
  content: "";
}

.user-navigation {
  margin-left: auto;
}

.user-navigation .basket {
  position: relative;
  padding-left: 50px;
}

.basket::before {
  content: "";

  position: absolute;
  top: 33px;
  left: 10px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*----- Слайдер -----*/
.slider {
}

.slider-sontrols {
  /*временно для сетки*/
  display: block;
  width: 100px;
  height: 18px;
}
.slider-inner {
  display: flex;
}

.slider-item {
}

.slider-item b {
  font-size: 55px;
  line-height: 55px;
}

.slider-item p {
  font-size: 16px;
  line-height: 24px;

  color: #283136;
}

/*----- Секция Main -----*/

.features {
  padding-top: 60px;

  /*временно*/
  min-height: 487px;
}

.features-list {
  padding: 0;
  margin: 0;
  padding-right: 60px;

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  list-style: none;
}

.feature-item {
  width: 300px;
}

.feature-item h3 {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;

  text-transform: uppercase;
}

.feature-item p {
  padding: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  text-align: center;

  margin: 0;
  padding-top: 82px;
  padding-bottom: 116px;
}

.promo {
  display: flex;
  padding-top: 41px;
}

.promo-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
}

.promo-info-list {
  list-style: none;
  display: flex;
}

.promo-about h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.promo-about p {
  font-size: 16px;
  line-height: 24px;

  color: #283136;
}

.promo-about b {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.promo-about-list {
  font-size: 16px;
  line-height: 50px;
}

.promo-info p {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.promo-info-list b {
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
}

.promo-info-list p {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: none;
}

/*----- Секция партнёров ------*/
.partners {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 180px;
}

/*----- Секция Фильтров -----*/

.catalog-column {
  display: flex;
}

.filters {
  min-width: 260px;
}

.products {
  display: flex;
  flex-direction: column;

  padding-left: 140px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;

  text-transform: uppercase;
}

.filter-item p {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

/*----- Секция Сортировки -----*/
.panel-sorting {
  display: flex;
  justify-content: space-between;
}

.panel-sorting span {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;

  text-transform: uppercase;
}

.sorting-controls {
  list-style: none;
  display: flex;
}

.sorting-controls a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-controls a:focus,
.sorting-controls a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-controls a:active {
  color: #000000;
}

.sorting-controls li:first-child a {
  color: #000000;
}

.sorting-controls a {
}

/*----- Секция Товаров -----*/

.list-products {
  padding: 0;
  margin: 0;
  padding-top: 59px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.product-item {
  margin-bottom: 33px;
  width: 360px;
}

.product-item a {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.product-item a:hover,
.product-item a:focus {
  color: #fb565a;
}

.product-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-item p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
}

.pagination a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: bold;

  background-color: #eeeeee;
  color: #000000;
}

.pagination a:hover,
.pagination a:focus {
  background-color: #dfdfdf;
}

.pagination a:active {
  background-color: #d5d5d5;
}

.pagination li:first-child a {
  background-color: #ffffff;
}

/*----- Секция Footer -----*/
.footer-wrapper {
  display: flex;
  align-items: center;
}

.footer-social {
  width: 260px;
}

.footer-social ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social-button {
  display: flex;
  width: 79px;
  height: 79px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.footer-social .social-vk {
  background-image: url(../img/vk-icon.png);
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  background-image: url(../img/fb-icon.png);
}

.footer-social .social-fb {
  background-image: url(../img/fb-icon.png);
}

.footer-social .social-insta {
  background-image: url(../img/insta-icon.png);
}

.footer-text {
  margin-left: 140px;
}

.map-wrapper {
  max-height: 416px;
  overflow: hidden;
}

.map {
  width: 100%;
  height: auto;
}

.main-footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.main-footer p {
  margin: 0;
  padding-top: 10px;
  font-size: 16px;
  line-height: 22px;
}

.contacts b {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

/*----- Модальное окно -----*/
.contacts,
.map-marker {
  display: none;
}

.modal {
  position: fixed;
  left: 50%;
  margin-left: -480px;
  bottom: 180px;
  background-color: white;
  padding: 69px 99px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  display: block;
  width: 960px;
  height: 590px;
}

.modal-header {
  display: flex;
  justify-content: space-between;  
  
  margin-bottom: 39px;
}

.modal h2 {  
  margin:0;  

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal-close {
  position:absolute;
  right: 90px;
  top:78px;

  width: 21px;
  height: 21px;  

  background-color: transparent;
  background-image: url(../img/close-cross.png);

  border: 0;
  opacity: 0.3;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-wrapper{
  display: flex;  
  justify-content: space-between;
  margin-bottom: 36px;
}

.modal b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.modal input[type="text"],
.modal input[type="email"],
.modal textarea {
  box-sizing: border-box;
  padding: 16px 18px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.modal input {
  min-width: 360px;
  height: 50px;
}

.modal textarea {
  width: 100%;
  min-height: 118px;

  margin-bottom: 47px;
}

.modal input::placeholder {
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}

.modal textarea::placeholder {
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}
